<div class="date-time-picker">
  <div class="header">
    <div ng-click="prev()"><i class="icon double prev"></i></div>
    <div ng-click="goToNow()"><i class="icon today"></i></div>
    <div ng-click="next()"><i class="icon double next"></i></div>
    <div class="title" ng-click="changeView()" ng-bind="title"></div>
    <div ng-if="close" ng-click="close()"><i class="icon close"></i></div>
  </div>
  <div class="items weekdays" ng-if="view=='date'">
    <div ng-class="{weekend: !(day.day() % 6)}" ng-repeat="day in weekdays" ng-bind="day|mFormat:'ddd':tz"></div>
  </div>
  <div class="items" ng-class="view">
    <div ng-repeat="date in items"
      ng-class="date.classes"
      ng-click="selectDate(date)"
      ng-bind="date.title">
    </div>
  </div>
</div>

